{% extends "auctions/layout.html" %}

{% block title %}New Listing{% endblock%}

{% block body %}

<h2>Create a New Listing</h2>

<form action="{% url 'create' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <input autofocus class="form-control" type="text" name="title" placeholder="Title" required>
    </div>
    <div class="form-group">
        <textarea class="form-control" name="description" placeholder="Describe the item or service you're auctioning off!" required></textarea>
    </div>
    <div class="form-group">
        <input class="form-control" type="number" name="bid" placeholder="Enter starting bid" min="0" step="1" required>
    </div>
    <div class="form-group">
        <input class="form-control" type="url" name="image_url" placeholder="Enter an image URL (optional)"> 
    </div>
    <div class="form-group">
        <select name="category" required>
            <option selected disabled hidden>-- Select a Category -- </option>
            <option value="high">Very Interesting</option>
            <option value="mid">Mildly Interesting</option>
            <option value="low">Not Interesting</option>
        </select>
    </div>
    <input class="btn btn-primary" type="submit" value="Create!">
</form>

{% endblock %}