{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %} 

{% block body %}

{% if message %}
<div class="msg_div">{{ message }}</div>
{% endif %}
   
    {% if user.is_authenticated %}

        {% if watchlist is none %}
        <form action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary" name="watchlist" value="add">Add to Watchlist</button>
        </form>
        {% else %}
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-primary" name="watchlist" value="remove">Remove from Watchlist</button>
            </form>
        {% endif %}

    {% endif %}

    <br>
    <img class="listing_img" src="{{ listing.image }}" />
    <h2>{{ listing.title}}</h2>
    <br>
    <p>{{ listing.description }}</p>
    <p>Latest bid amount: {{ listing.bid_listing.get.amount }} by: {{ listing.bid_listing.get.bidder }}</p>

    {% if listing.active %} 
        {% if user.is_authenticated %}
            {% if listing.creator != user.username %}
                <form action="{% url 'listing' listing.id %}" method="POST">
                    {% csrf_token %}
                    <input type="number" name="bid" placeholder="Enter your bid here" min="{{ listing.bid_listing.get.amount }}" required>
                    <input type="submit" class="btn btn-primary"  value="Bid">
                </form>

            {% else %}
                <form action="{% url 'listing' listing.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-primary" name="close" value="close">Close the auction</button>
                </form>
            {% endif %}
            
            <br>
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" name="comment" placeholder="Add your comment" required></textarea>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        {% endif %}
    {% endif %}
    
    {% for comment in comments %}
        <br>
        <div class="comment">
            <p>{{ comment.commenter }} at {{ comment.stamp }}:</p>
            <i>- {{ comment.text }}</i>
        </div>
    {% empty %}
        No comments to show
    {% endfor %}

{% endblock %}