{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %} 

{% block body %}
    
    {% if user.is_authenticated %}

        {% if watchlist is none %}
        <form action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary" name="watchlist" value="add">Add to Watchlist</button>
        </form>
        {% else %}
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-primary" name="watchlist" value="remove">Remove from Watchlist</button>
            </form>
        {% endif %}

    {% endif %}
    <br>
    <img class="listing_img" src="{{ listing.image }}" />
    <h2>{{ listing.title}}</h2>
    <br>
    <p>{{ listing.description }}</p>
    <p>Latest bid amout: {{ listing.bid_listing.get.amount }}</p>

{% endblock %}